main {
  display: flex;
  justify-content: center;
}
 .btn-click {
  position:absolute;
  margin-top: 30vh;
  width: 10rem;
    left: calc((100% - 10rem) / 2);
    background-color: #556b00;
    color: white;
    padding: 15px;
    border-color: #556b00;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 600;
 }